
.mySlides {
    display: none;
  }
#deskopbanner{
  overflow: hidden !important;
  height: 100%;
  width: 100%;
}
/* utility classes */
.mySlides3{
  max-height: 300px;
  width: 100%;
}
.mySlides2{
  max-height: 300px;
  width: 100%;
}
.mySlides{
  /* max-height: 300px; */
  width: 100%;
}
#deskopbanner{
  height:85vh;
  overflow: hidden !important;
}
#main-section {
  width: 100%;
  overflow: hidden;
}
.conform{
  width: 40%;
  margin: auto;
}
body{
    background-color: #1f2029;
}
.iframe{
  height: 240px;
  width: 240px;
}
.nnn{
  flex-wrap: wrap;
}
h1{
  color: #fff;
  font-size: 72px;
}
h2{
    color: #c6c7d4;
    text-align: center;
}
h3{
    font-size: 17px;
    font-weight: 600;
}
p{
    font-size: 14px;
}

/* utility classes END */

/* NAVBAR  */

.modal-content{
    background-color: #0d0b0e;
    z-index: 22;
    opacity: 5766;
    color: #fff;
}
.modal-body>ul>li{
    font-size: 5vw;
}
.modal-body>ul>li>a{
    text-decoration: none;
    color: #CCC8C8;
    font-weight: bold;
}
.modal-body>ul>li>a:active{
    color: #fff;
}
.modal-body>ul>li>a:hover{
    color: #fff;
}
.navbar{
    background-color: #0d0b0e;
    align-items: center;
}
nav{
  /* position: sticky !important;
  top: 0 !important; */
}
.my-hamburger{
    border: none;
    padding: 0px;
    
    background: none;
margin: 0px;
width: 40px;
margin-bottom: 10px;
height: 40px;

    color: #fff;
}
.btn-close{
  background-color: wheat;
}

/* NAVBAR END */

/* ABOUT */
.about-sec{
    background-color: #1f2029;
}
.about-con{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap !important;
}
.about-div{
    width: 350px;
    background-color: #0d0b0e;
    /* border: 2px dashed white; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    text-align: center;
    margin-top: 20px !important;
    margin: auto;
    color: #fff;
}
.about-div:hover{
    background-color: #343541;
}
/* ABOUT END */
/* <!-- Telling your brand story with colours, fonts and designs. --> */
.TYB{
    display: flex;
    justify-content: space-between !important;
    flex-wrap: wrap !important;
}
.TYB_CON{
    width: 220px;
    height: 310px;
    background-color: #0d0b0e;
    /* margin-bottom: 20px !important; */
    
    margin: auto;
}
.TYB_CON2{
    width: 250px;
    height: 260px;
    background-color: #0d0b0e;
    /* margin-bottom: 20px !important; */
    margin: auto;
}
.TYB_CON4{
    width: 320px;
    height: 220px;
    background-color: #0d0b0e;
    /* margin-bottom: 20px !important; */
    margin: auto;
}
.TYB_CON6{
    width: 260px;
    height: 200px;
    background-color: #0d0b0e;
    /* margin-bottom: 20px !important; */
    margin: auto;
}
/* <!-- Telling your brand story with colours, fonts and designs END. --> */
/* <!-- Serving the best. --> */
.Serving-the-best-box{
    width: 260px;
    background-color: #fff;
    margin-bottom: 20px !important;
    text-align: center;
    margin: auto;
}
/* <!-- Serving the best end. --> */
/* Make-Something-Together */
.Make-Something-Together{
    background-color: #0d0b0e;
    text-align: center;
}
/* Make-Something-Together END */


  /* CONER */
  
.section-heading {
  font-size: 22x;
}
#hero,
#pricing {
  background: var(--bg-hero);
  display: flex;
  align-items: center;
  justify-content: center;
}
#section_counter {
  padding: 5rem 0;
  background: var(--bg-counter);
}
#section_counter .section-heading {
  padding-bottom: 5rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
.counter-grid {
display: flex;
flex-direction: row;
justify-content: space-between !important;
align-items: stretch;

color: white;
flex-wrap: wrap;

}

.zoom {
  transition: transform 7s;
  z-index: -11;
  /* opacity: -12; */
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.counter-item {

background-color: #0d0b0e;  /* padding: 3rem 1.5rem; */
  color: white ;
  text-align: center;
  border-radius: 1rem;
width: 250px;
  padding: 40px;
  transition: all 0.4s ease-in-out;
  transform: translateY(6rem);
}


.counter-item:hover {
  background-color: #343541;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.counter-item .counter {
  font-size: 4.5rem;
  color: transparent;
  color: transparent;
  letter-spacing: 0.5rem;
  -webkit-text-stroke-width: 0.15rem;
  -moz-text-stroke-width: 0.15rem;
  -ms-text-stroke-width: 0.15rem;
  -o-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: var(--white);
  -moz-text-stroke-color: var(--white);
  -ms-text-stroke-color: var(--white);
  -o-text-stroke-color: var(--white);
}

@keyframes slide-up {
  0% {
    transform: translateY(6rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
  /* CONER end */

  @media only screen and (max-width: 600px) {
    .mobilebanner{
      display: none;
    }
    .modal-body {
      text-align: center;
    }
    .modal-body>ul>li {
      list-style-type: none;
    }
  }

  @media only screen and (max-width: 600px) {
    .TYB_CON{
margin-bottom: 20px;
    }
    .TYB_CON2{
margin-bottom: 20px;
    }
    .TYB_CON4{
margin-bottom: 20px;
    }
    .TYB_CON6{
margin-bottom: 20px;
width: 100%;
height: 150px;
    }
    .counter-item{
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
    }
    .ioio{
      text-align: center;
    }
    .conform{
      width: 100%;
    }
    .iframe{
      height: 250px;
      width: 100%;
      margin-bottom: 20px;
    }
    .Serving-the-best-box{
      width: 100%;
      padding: 20px;
      margin-bottom: 10px;
    }
    .modal-body{
      flex-direction: column;
    }
    .kkk{
      flex-direction: column-reverse;
    }
    .sos{
      padding: 20px;
    }
    .sos2{
      display: none;
    }
    #deskopbanner{
      height: 40vh;
    }
  }



  /* Services Syle  */
  /* website Page Start  */
  .website{
    /* background-image: url("./images/cover-pic-web-development-new.svg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000;
    background-blend-mode: darken;
    padding: 20px;
    height:  80vh;
  }
  .tech-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tech{
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 20px;
    margin: 10px;
    width: 200px;
  }
  /* website Page Start END */
  